@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

body {
  font-family: 'Roboto', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;

  height: 55px;
  padding: 0 15px;

  text-transform: uppercase;

  background-color: #DADADA;

  font-size: 12px;
  font-weight: bold;

  justify-content: space-between;
  align-items: center;
}

.brand {
  color: #3C9A94;
}

ul li:not(:first-of-type) {
  display: none;
}

nav {

}

img {
  display: block;

  width: 194px;
  margin: 30px auto 30px;

  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);

}

h1 {
  margin-bottom: 10px;
  padding: 0 10px;

  text-align: center;

  font-size: 24px;
  font-weight: bold;
}

h2 {
  text-align: center;

  font-size: 18px;
}

.buttons {
  display: flex;

  width: 300px;
  margin: 25px auto 25px;
  padding: 0 10px;

  font-size: 18px;
  font-weight: bold;

  justify-content: space-between;
}

.buttons a {
  display: inline-block;

  width: 145px;
  padding: 14px 0;

  text-align: center;
  text-decoration: none;

  border-radius: 2px;
}

.buttons a:first-of-type {
  color: #fff;
  background-color: #055DE2;
}

.buttons a:last-of-type {
  color: #055DE2;
  border: 1px solid #055DE2;
  background-color: #fff;

}

p {
  padding: 10px 10px 0 10px;

  font-size: 14px;
  line-height: 1.2;
}

footer {
  width: 320px;
  height: 137px;
  margin-top: 60px;

  background-color: #C4C4C4;
}

@media (min-width: 768px) {
  header {
    padding: 0 30px;
  }
  li {
    display: inline-block;

    margin-left: 26px;
  }
  ul li:not(:first-of-type) {
    display: inline-block;
  }
  ul li:first-of-type {
    display: none;
  }
  .brand {
    position: relative;

    padding-left: 45px;
  }
  .brand::before {
    position: absolute;
    top: -12px;
    left: 0;

    width: 35px;
    height: 35px;

    content: "";

    border-radius: 100%;
    background-color: #3C9A94;
  }
  main {
    position: relative;

    padding-left: 35vw;
  }
  img {
    position: absolute;
    top: 30px;
    left: 25px;
  }
.heading {
  display: flex;
  flex-direction: column-reverse;
}

  h1, p {
    padding: 0;
  }
  h1, h2 {
    padding-left: 10px;

    text-align: left;
  }
}
